/node_modules
/public/hot
/public/.htaccess
/public/storage
/public/robots.txt
/storage/*.key
/vendor
/public/blog/wp-config.php
/public/css/app.css
/public/js/app.js
/public/css/debutify.css
/public/css/landing.css
/public/js/dbtfy.js
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
sendgrid.env
.vagrant/
.idea
after.sh
aliases
Vagrantfile
#Whitelist courses storage
!storage/app/public/courses/
/nbproject/private/
nbproject
public/adminer.php
.DS_Store
.DS_Store?
/public/js/landing.js
public/js/react.js
public/js/dbtfy.js
