.sticky-banner {
  transition: top 0.3s;
  position: fixed;
  top: 55px;
  width: 82%;
  z-index: 100;
  display: none;
}

.sticky-banner #sticky {
  margin: 0px !important;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .sticky-banner {
    width: 100%;
  }
}

@media screen and (min-width: 1599px) {
  .sticky-banner {
    width: 85%;
  }
}

@media screen and (min-width: 1919px) {
  .sticky-banner {
    width: 88%;
  }
}

