#app-thank-you {

  .text-primary {
    color: #007bff!important;
  }

  .Polaris-Modal {

    &-CloseButton {
      display: none;
    }

    &-Section {
      padding: 6rem;
    }
  }

  .Polaris-Modal-Section {
    padding: 5.8rem;
  }

  .Polaris-Page__Content {

    .Polaris-Card > .Polaris-Card__Section { 
      max-width: 66.666%;
      margin: auto;
    }
    @media (max-width: 30.625em){
      .Polaris-Card > .Polaris-Card__Section {
        max-width: 100%;
        padding: 1.5rem;
      }
    }
  }

  .Text-large-line-height p {
    line-height: 3.8rem;
  }

  .Polaris-Testimonials {
    padding: 2rem 3rem;

    > .Polaris-Stack {
      justify-content: space-between;
      margin: 0;

      > .Polaris-Stack__Item {
          margin-left: 0;

        &:first-child {
          flex-basis: auto;
          width: 7.6rem;
          margin-right: 1rem;
        }

        &:last-child {
          flex-basis: calc(100% - 9rem);
        }
      }
    }
  }
  
}