.Polaris-TopBar {

  &__Logo {
    width: 30px;
  }

  &__LogoLink {
    width: auto !important;
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .Polaris-TopBar__Name {
    color: #000000;
    margin-left: .5em;
    font-weight: 600;
    display: inline-block;
    font-size: 1.1em;
    text-overflow: ellipsis;
    vertical-align: middle;
  }
}